

@font-face {
    font-family: twitter;
    src: url(../fonts/twitter.otf) format("opentype");
}

@font-face {
    font-family: twitter;
    src: url(../fonts/twitterBold.otf) format("opentype");
    font-weight: bold;
}

html{
  scroll-behavior: smooth;
}
body{
  overflow-y: hidden;
}

.hero{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height : 100vh;
    width: 100%;
    /* background-image: url("../images/cool-background.png"); */
    background: transparent;
    overflow: hidden;
    display : block;
    /* justify-content: center; */
    position: absolute;
}

.TopBar{
    position: relative;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: whitesmoke;
}

.Twitter{
    position: relative;
    border-left: 1.5px solid RGB(29,161,242);
    border-right: 1.5px solid RGB(29,161,242);
    border-top: 1.5px solid RGB(29,161,242);
    border-bottom: 1.5px solid RGB(29,161,242);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* padding: 10px; */
    height:inherit;
    width:inherit;
    background-color: white;

}
.Twitter .Logo{
    width: 30px;
    position: absolute;
    left: 45%;
    top: 92%;
}


.Twit{
    position: relative;
    left: 2%;
    width: 95%;
    font-size: 12px;
    padding: 10px;
    margin-top: 1px;
    margin-bottom:1px;
    margin-left:1px;
    margin-right:1px;
    border-bottom: gainsboro solid 1px;
    cursor:pointer; 
}

.Twit a{
    position: absolute;
    text-decoration: none;
    color: #000;
}
.Twit b{
    position: relative;
    color: gray;
    left: 75%;
    align-content: right;
}



/* .Twitter vo{
    font-family: twitter;
    position: absolute;
    right: 5%;
} */



a{
    font-family: twitter;
    font-size: 17px;
}
vo{
    font-family: twitter;
    font-size: 15px;
}




.Google{
    position: relative;
    
    BACKGROUND: LINEAR-GRADIENT(-120DEG, #4285F4, #34A853, #FBBC05, #EA4335);
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 1px solid transparent;
    border-radius: 3px;
    /* height: 364px; */
    width: 395px;
    height: 450px;

}

.Reddit{
    position: relative;

    border-left: 1.5px solid RGB(255,69,0);
    border-top: 1.5px solid RGB(255,69,0);
    border-bottom: 1.5px solid RGB(255,69,0);
    border-right: 1.5px solid RGB(255,69,0);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    /* padding: 10px; */
    height:inherit;
    width:inherit;
    background-color: white;
    
}

  /* * {
    box-sizing: border-box;
  } */

.mainslider {
  margin-top: 3vw;
  width: 97.5vw;
  height: 80%;
  border-radius: 10px;
  position: absolute;
  background: transparent;
  /* overflow: hidden; */
  /* text-align: center; */
  vertical-align: center;
  left: 10px;
}  


.mainslides {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  margin-top: 20vh;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  background-size: cover;
  background: transparent
}
.mainslides > div {
  margin-left: 25px;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 350px;
  height: 450px;
  position: relative;
  overflow-y: scroll;
}

.mainslides > div::-webkit-scrollbar {
  width: 3px;
  height:2px;
}
.mainslides > div::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.mainslides > div::-webkit-scrollbar-track {
  background: transparent;
}


.mainslides::-webkit-scrollbar {
  width: 1px;
  height:1px;
}
.mainslides::-webkit-scrollbar-thumb {
  background: black;
}
.mainslides::-webkit-scrollbar-track {
  background: transparent;
}

/* .slides > div:target {
  transform: scale(0.8);
} */
/* .author-info {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 0.75rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}
.author-info a {
  color: white;
} */
/* img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.mainslider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: #eee;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: black;
  
  margin: 0 0 0.5rem 0;
  margin-top: 5px;
  position: relative;
}
.mainslider > a:active {
  top: 1px;
}
.mainslider > a:focus {
  background: #000;
}
@supports (scroll-snap-type) {
  .mainslider > a {
    display: none;
  }
}






/* Style the button that is used to open and close the collapsible content */

.accordion-body{
  text-align: center;
  max-width: 100%;
  overflow : hidden;
}
.accordion-toggle{
  background: black;
}
.accordion-body > video{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.accordion-my-header > a{
  position: relative;
  line-height: 10px;
  font-size: 15px;
}




.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

.ripple-background {
  background: #3399ff;
  height : 100vh;
  width: 100%;
}
