@font-face {
    font-family: twitter;
    src: url(../fonts/twitter.otf) format("opentype");
}

@font-face {
    font-family: twitter;
    src: url(../fonts/twitterBold.otf) format("opentype");
    font-weight: bold;
}

html{
    scroll-behavior: smooth;
}

.hero{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height : 200vh;
    width: 100%;
    /* background-image: url("../images/cool-background.png"); */
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-color: whitesmoke;
    /* display : block; */
    /* justify-content: center; */
    position: absolute;
}

.TopBar{
    position: relative;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: black;
}

.Twitter{
    position: relative;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid RGB(29,161,242);
    border-radius: 10px;
    padding: 10px;
    width: 280px;
    height: 580px;
    background-color: white;

}
.Twitter .Logo{
    width: 30px;
    position: absolute;
    left: 45%;
    top: 94%;
}


.Twit{
    position: relative;
    left: 4%;
    width: 82%;
    font-size: 12px;
    padding: 10px;
    margin-top: 1px;
    margin-bottom:1px;
    margin-left:1px;
    margin-right:1px;
    border-bottom: gainsboro solid 1px;
    cursor:pointer; 
}

.Twit a{
    position: absolute;
    text-decoration: none;
    color: #000;
}
.Twit b{
    position: relative;
    color: gray;
    left: 70%;
    align-content: right;
}
.Twit Hash{
    font-size: 25px;
    position: relative;
}


/* .Twitter vo{
    font-family: twitter;
    position: absolute;
    right: 5%;
} */



a{
    font-family: twitter;
    font-size: 17px;
}
vo{
    font-family: twitter;
    font-size: 15px;
}




.Google{
    position: relative;
    margin:auto;
    margin-top: 2em;
    left: 0;
    right: 0;
    BACKGROUND: LINEAR-GRADIENT(-120DEG, #4285F4, #34A853, #FBBC05, #EA4335);
    background-repeat: no-repeat;
    background-origin: border-box;
    border: 3px solid transparent;
    border-radius: 5px;
    height: 361px;
    width: 300px;

}